---
import Default from "../layouts/Default.astro";
import Thumbnail from "../components/Thumbnail.astro";
---

<Default>
  <Thumbnail text="kenchiba pc club" src="/thumbnail.jpg" />
  <main>
    <div>
      <h2>概要</h2>
      <p>
        これは千葉県立千葉高等学校コンピュータ研究部が作成したウェブサイトです。
        コンピュータ研究部は部員数がとても少なく、活動もほとんどない部活です。
        なにか活動をしなくてはと思い、このサイトを立ち上げました。
      </p>
    </div>
    <div>
      <h2>活動記録</h2>
      <ul>
        <li>ウェブサイトの作成</li>
        <li>情報オリンピックへの参加</li>
        <li>その他部員各自での活動</li>
      </ul>
    </div>
  </main>
</Default>

<style lang="scss">
  main {
    position: relative;
    width: 100%;
    padding: 1rem 0 2rem 0;

    div {
      margin: 0 auto;
      width: 1200px;
      max-width: 75%;

      p {
        margin: 1rem;
      }
    }
  }
</style>
