<footer>
  <p>© 2023 千葉県立千葉高等学校コンピュータ研究部</p>
</footer>

<style lang="scss">
  footer {
    padding: 1rem;
    border-top: 1px solid #a0a0a0;
    text-align: center;

    p {
      margin: 0;
    }
  }
</style>
